body {
    font-family: Arial, sans-serif;
    background: #171717;
    background: #fff;
}

.form-group-1 {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.copy-btn {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ac770c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 300ms;
}

.copy-btn:hover {
    background-color: #EFB036;

}

.box-form-1 {
    padding: 10px;
    border: 1px solid #EFB036;
    border-radius: 10px;
    /* background: #212121; */
    /* color: #fff; */
    background: #fff;
    color: #000;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-form-1 .input-ia {
    width: 100%;
}

.box-form-1 h2 {
    text-align: center;
}

.box-form-1 .input-ia,
select {
    color: #000;
    /* color: white; */
    border: 2px solid #EFB036;
    border-radius: 10px;
    padding: 10px 15px;
    background: transparent;
    max-width: 90%;
    outline: violet;
}

.box-form-1 select option {
    color: #000;
}

/* LOGIN FORM */
.auth-container {
    width: 30%;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #EFB036;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

.auth-container .btn-auth {
    width: 100%;
    padding: 10px;
    background: #EFB036;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
}

.auth-container .btn-auth:hover {
    background: #c08000;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

/* sug */
.suggestions {
    margin: 5px 0 15px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.suggestion-item {
    padding: 8px 12px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.suggestion-item:hover {
    background-color: #f1dbb1;
}

li {
    list-style: none;
}

.static-input {
    cursor: not-allowed;
    /* Không cho phép hightlight */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #f0e404 !important;
    width: 25% !important;
    font-weight: bold;
    color: #292929 !important;
}

/*  */
#label-2 {
    font-weight: bold;
    min-width: 50px;
}
.form-group-1 p {
    min-width: 150px;
}

.form-group-1 .lb-lssd-form {
    font-weight: bold;
    min-width: 150px;
}

.form-group-1 .sp-box-doi {
    display: flex;
    align-items: center;
}

#input-1 {
    width: 50%;
}