.copy-btn {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ac770c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 300ms;
}

.copy-btn:hover {
    background-color: #EFB036;

}

.box-form-1 {
    padding: 10px;
    border: 1px solid #EFB036;
    border-radius: 10px;
    /* background: #212121; */
    /* color: #fff; */
    background: #fff;
    color: #000;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-form-1 .input-ia {
    width: 100%;
}

.box-form-1 h2 {
    text-align: center;
}

.box-form-1 .input-ia,
select {
    color: #000;
    /* color: white; */
    border: 2px solid #EFB036;
    border-radius: 10px;
    padding: 10px 15px;
    background: transparent;
    max-width: 90%;
    outline: violet;
}

.box-form-1 select option {
    color: #000;
}

/* Loading */
/* From Uiverse.io by KSAplay */ 
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: bold;
    font-size: 12px;
    color: #f2df95;
    height: 350px;
    width: 100%;
    background-color: #907A24;
    border-style: solid;
    border-width: 100px 100% 100px 0px;
    border-color: #C9B656 #AD9531 #87621B #AD9531;
    animation: camera_effect 4s infinite linear;
  }
  
  @keyframes camera_effect {
    0% {
      border-width: 0px 100% 0px 0px;
    }
  
    10% {
      border-width: 95px 100% 95px 0px;
    }
  
    20% {
      border-width: 100px 260px 100px 0px;
    }
  
    30% {
      border-width: 100px 80px 100px 80px;
    }
  
    45% {
      border-width: 95px 75px 55px 85px;
    }
  
    55% {
      border-width: 55px 70px 95px 90px;
    }
  
    65% {
      border-width: 55px 85px 95px 75px;
    }
  
    70% {
      border-width: 100px 80px 100px 80px;
    }
  
    80% {
      border-width: 100px 0px 100px 260px;
    }
  
    90% {
      border-width: 95px 0px 95px 100%;
    }
  
    100% {
      border-width: 0px 0px 0px 100%;
    }
  }